<p id="notice"><%= notice %></p>
<div class="row">
	<%= form_with(model: @product) do |form| %>
	<div class="col-sm-6">
		<%= form.label :name, class: "form-label" %>
		<%= form.text_field :name, class: "form-control" %>
	</div>
	<div class="col-sm-6">
		<%= form.label :description, class: "form-label" %>
		<%= form.text_field :description, class: "form-control" %>
	</div>
	<div class="col-sm-6">
		<%= form.label :price, class: "form-label" %>
		<%= form.text_field :price, class: "form-control" %>
	</div>
	<div class="col-sm-6">
		<%= form.label :quantity, class: "form-label" %>
		<%= form.text_field :quantity, class: "form-control" %>
	</div>  
	<div class="row">    
		<div class="col-sm-6">
			<%= link_to 'Edit', edit_product_path(@product),type: 'button', class: "btn btn-primary pull-right", style: "margin-top: 20px;color: white;"  %> 
			<%= link_to 'Back', products_path,type: 'button', class: "btn btn-primary pull-right", style: "margin-top: 20px;color: white;"  %>
		</div>
	</div>
	<% end %>
</div>
